.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  // height: calc(100% - 50px);

  .mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftCol {
      position: relative;
      width: 60%;
      height: 100%;

      .sectionsHolder {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .4s linear;

        .section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 100%;
          height: 100%;
          max-height: 100%;
          overflow: hidden;

          .marginBottom {
            width: 100%;
            height: 1px;
            margin-bottom: 24px;
          }
        }
      }
    }

    .rightCol {
      position: relative;
      width: 288px;
      height: 576px;

      .phoneFrame {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .imgSectionsHolder {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 87%;
        height: 95%;
        overflow: hidden;

        .imgSectionTruck {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: .4s linear;
        }

        .imgSection {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          video {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .reviewsImgSlider {
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            img {
              min-width: 100%;
              width: 100%;
              // width: 288px;
              height: 100%;
              object-fit: cover;
              flex: 1;
            }
          }
        }
      }
    }
  }
}

.sectionTitle {
  font-family: var(--font-nunito);
  font-size: 42px;
  font-weight: 300;
  letter-spacing: .5px;
  text-align: left;
  margin-bottom: 12px;
}

.sectionText {
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 24px;
}

.sectionButton {
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .5px;
  text-align: left;
  padding: 6px 24px;
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  transition: .2s linear;
  display: flex;
  align-items: center;
  column-gap: 6px;
  text-decoration: none;

  // Icons for Buttons
  &>span {
    width: 24px;
    height: 24px;
    transition: .2s linear;
  }

  .videoIcon {
    background-image: url('/images/icons/white/video.png');
  }

  .phoneIcon {
    background-image: url('/images/icons/white/phone.png');
  }

  .arrowIcon {
    background-image: url('/images/icons/white/arrow.png');
  }

  &:hover {
    background-color: var(--color-white);
    color: var(--color-blue);

    .videoIcon {
      background-image: url('/images/icons/red/video.png');
    }

    .phoneIcon {
      background-image: url('/images/icons/red/phone.png');
    }

    .arrowIcon {
      background-image: url('/images/icons/red/arrow.png');
    }
  }
}

.featuresHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  row-gap: 6px;
  margin-bottom: 24px;

  .feature {
    display: flex;
    width: 50%;
    align-items: center;
    column-gap: 6px;
    font-family: var(--font-open-sans);

    &>span {
      width: 20px;
      height: 20px;
    }
  }
}

.sectionPickerTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;

  .tile {
    padding: 3px 12px;
    background-color: var(--color-blue);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-right: 12px;
    color: var(--color-white);
    cursor: pointer;
    transition: .2s linear;
    display: flex;
    align-items: center;
    column-gap: 6px;
    line-height: 26px;

    &>span {
      width: 26px;
      height: 26px;
    }

    .descriptionIcon {
      background-image: url('/images/icons/white/note.png');
    }

    .specificationIcon {
      background-image: url('/images/icons/white/specyfication.png');
    }

    .bulbIcon {
      background-image: url('/images/icons/white/bulb.png');
    }

    .helpIcon {
      background-image: url('/images/icons/white/help.png');
    }

    &.tileActive {
      background-color: var(--color-white);
      color: var(--color-blue);

      .descriptionIcon {
        background-image: url('/images/icons/red/note.png');
      }

      .specificationIcon {
        background-image: url('/images/icons/red/specyfication.png');
      }

      .bulbIcon {
        background-image: url('/images/icons/red/bulb.png');
      }

      .helpIcon {
        background-image: url('/images/icons/red/help.png');
      }
    }
  }
}

.sectionPickerContent {
  p {
    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 20px;
    text-align: left;
  }

  ul {
    margin-left: 20px;

    li {
      font-family: var(--font-open-sans);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 20px;
      text-align: left;
      margin-bottom: 6px;
    }
  }
}

.sectionVideo {
  display: none;
  width: 100%;
  border-radius: 4px;
  height: 400px;
  object-fit: contain;

  @media(max-width: 760px) {
    display: block;
    width: 100%;
    height: unset;
    aspect-ratio: 16 / 9;
  }
}

.feedbackContainer {
  width: 100%;
  // display: flex;
  // flex-direction: row;
  overflow: hidden;
  transition: 0.2s linear;
  scroll-behavior: smooth;

  .feedbackContainerInner {
    width: 100%;
    display: flex;
    transition: 0.2s linear;
    scroll-behavior: smooth;
  }

  .feedback {
    min-width: 100%;
    width: 100%;

    .feedbackContent {
      font-family: var(--font-open-sans);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 20px;
      text-align: left;
      margin-bottom: 12px;
    }

    .feedbackFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: var(--font-open-sans);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 20px;
      margin-bottom: 24px;

      .feedbackAuthor {
        font-family: var(--font-open-sans);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .5px;
        line-height: 20px;
        text-align: left;
      }

      .feedbackRate {
        display: flex;
        align-items: center;
        column-gap: 4px;

        &>span {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

}

.photosSection {
  width: 100%;

  .mainPhoto {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  .photoContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
    row-gap: 12px;

    .photo {
      flex: 1;
      width: 33%;
      height: 100px;
      object-fit: cover;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.pricingSection {
  width: 100%;

  table {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border-spacing: 0px;

    td {
      font-family: var(--font-open-sans);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .5px;
      text-align: left;
    }

    .tableHeader {
      background: var(--color-blue);

      td {
        text-align: right;
        padding: 3px;
        font-weight: 500;

        &:first-child {
          text-align: left;
        }
      }
    }

    .tableRow {

      td {
        padding: 8px 3px 3px 3px;
        text-align: right;
        border-bottom: 1px solid var(--color-white);

        &:first-child {
          text-align: left;
        }
      }
    }
  }
}

.contactDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 16px;
  margin-bottom: 24px;

  .contactDetailsLink {
    min-width: 200px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: left;
    text-decoration: none;
    font-family: var(--font-open-sans);
    color: var(--color-white);

    @media(max-width: 760px) {
      min-width: 49%!important;
    }

    &:hover {
      text-decoration: underline;
    }

    &>span {
      width: 22px;
      height: 22px;
      margin-right: 6px;
    }

    .phoneIcon {
      background-image: url('/images/icons/red/phone_fill.png');
    }

    .mailIcon {
      background-image: url('/images/icons/red/mail.png');
    }

    .websiteIcon {
      background-image: url('/images/icons/red/website.png');
    }

    .clockIcon {
      background-image: url('/images/icons/red/clock.png');
    }

  }
}

.contactFormSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2px;

  .required {
    color: var(--color-blue);
  }

  .inputLabel {
    width: 100%;

    p {
      margin-bottom: 3px;
    }

    input,
    textarea {
      width: 100%;
      padding: 4px 6px;
      border-radius: 2px;
      border: none;
      margin-bottom: 12px;
      background-color: hsla(0, 0%, 100%, 0.1);
      color: var(--color-white);
    }

    textarea {
      height: 80px;
    }
  }

  .checkboxLabel {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: left;
    margin-bottom: 12px;

    a {
      text-decoration: none;
      color: var(--color-blue);

      &:hover {
        text-decoration: underline;
      }
    }
  }


  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    width: 100%;

    &>label {
      min-width: 40%;
      flex: 1;
    }
  }

  button {
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: 1px solid var(--color-blue);
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-blue);
    }
  }


}


.metisLogo {
  width: 200px;
  height: unset;
  object-fit: contain;
  margin-top: 24px;
  border-radius: 4px;
}

// Icons Section
.labelIcon {
  background-image: url('/images/icons/red/tags.png');
}

.feedbackStarIcon {
  background-image: url('/images/icons/red/star.png');
}

.paintingIcon {
  background-image: url('/images/icons/red/painting.png');
}

.posterIcon {
  background-image: url('/images/icons/red/poster.png');
}

.woodIcon {
  background-image: url('/images/icons/red/wood.png');
}

.tileIcon {
  background-image: url('/images/icons/red/tile.png');
}

.rockIcon {
  background-image: url('/images/icons/red/rock.png');
}

.fabricIcon {
  background-image: url('/images/icons/red/fabric.png');
}

@media(max-width: 760px) {
  .main {
    .mainContainer {
      padding: 0px 12px;

      .leftCol {
        width: 100%;

        .sectionsHolder {
          .section {
            align-items: center;

            .marginBottom {
              display: none;
            }
          }
        }
      }

      .rightCol {
        display: none;
      }
    }
  }

  .sectionTitle {
    font-size: 36px;
    text-align: center;
  }

  .sectionText {
    text-align: center;
  }

  .featuresHolder {
    align-items: center;
  }

  .sectionPickerTop {
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;

    .tile {
      flex: 1;
      margin: 0;
      justify-content: center;
    }
  }

  .photosSection {
    .mainPhoto {
      height: 240px;
    }

    .photoContainer {
      .photo {
        width: 30%;
      }
    }
  }

  .pricingSection {
    table {
      tr {
        td {
          font-size: 13px;
          border-right: 1px solid hsla(0, 0%, 100%, 0.1);
          // &:first-of-type {
          //   width: 90px;
          // }

          &:nth-of-type(2),
          &:nth-of-type(3) {
            min-width: 46px;
          }

          // &:nth-of-type(4), 
          // &:nth-of-type(5) {
          //   width: 80px;
          // }
        }
      }
    }
  }

  .contactDetails {
    column-gap: 6px;
    row-gap: 12px;
    margin-bottom: 12px;

    .contactDetailsLink {
      min-width: unset;
      font-size: 12px;
      flex: 1;
    }
  }

  .contactFormSection {
    textarea {
      height: 60px !important;
    }
  }
}