.header {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 12px 0;

    &>div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 180px;
            object-fit: contain;
            height: unset;
        }



        .hamburgerMenu {
            display: block;
            background-image: url("/images/icons/white/menu.png");
            cursor: pointer;

            &:hover {
                background-image: url("/images/icons/red/menu.png");
            }
        }
    }
}

.sidebarMenu {
    position: absolute;
    top: 0;
    left: -240px;
    z-index: 999;
    height: 100dvh;
    width: 240px;
    padding: 12px 0;
    background: var(--color-dark-blue);
    transition: .2s linear;

    &.show {
        left: 0;
    }

    .sidebarHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        padding: 10%;

        img {
            width: 100%;
            height: unset;
            object-fit: contain;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        // row-gap: 24px;

        p {
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: var(--font-open-sans);
            font-size: 14px;
            color: var(--color-white);
            padding: 12px 24px;
            user-select: none;
            cursor: pointer;


            span {
                width: 24px;
                height: 24px;
                margin-right: 12px;
            }

            &:hover {
                background-color: var(--color-dark-blue);
            }
        }
    }


}

// Navigation Icons
.closeMenu {
    background-image: url("/images/icons/white/close.png");
    cursor: pointer;
}